body {
    background: linear-gradient(to bottom, #fdebd0, #fdebd0);
}

.construction-container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.construction-container img {
    max-width: 200px;
    margin-right: 20px;
}

.construction-message {
    max-width: 600px;
}

.construction-message h1 {
    font-size: 2em;
    color: #b9540c;
    margin-bottom: 10px;
}

.construction-message p {
    font-size: 1.2em;
    color: #555;
}

.construction-message a {
    display: inline;
    color: #4f943c;
    text-decoration: none;
}

/* Estilo responsive para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .construction-container {
        margin: 10% auto;
    }

    .construction-container img {
        max-width: 100px;
    }

    .construction-message h1 {
        font-size: 1.5em;
    }

    .construction-message p {
        font-size: 1em;
    }
}