body {

}

header {
    background-color: green;
    padding: 100px;
    margin: auto;
}

header .div-center {
    float: center;
}

header .div-right {
    float: right;
}

#cuerpo {
    background-color: orange;
}

footer {
    background-color: green;
    margin-top: 1000px;
    padding: 100px;
    margin-left: 0;
}

footer .div-left,
footer .div-center,
footer .div-right {
    float: left;
    margin-left: 300px;
    margin-top: 60px;
}

footer .derechos {
    margin-top: 250px;
    justify-content: center;

}

footer .div-left,
footer .div-center {
    border-right: solid 1px black;
}