body {
    font-family: 'Montserrat', sans-serif;
}

.recipe-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-title {
    font-size: 2.5em;
    color: #4f943c; 
    text-align: center;
    margin-bottom: 10px;
}

.recipe-description {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.recipe-time {
    font-size: 1em;
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.recipe-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid #4f943c;
    border-bottom: 2px solid #4f943c;
}

.ingredients-column,
.steps-column {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ingredients-list,
.steps-list {
    list-style: none;
    padding: 0;
}

.ingredients-list li {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1em;
}

.steps-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

/* Estilos de la sección de comentarios */
.comment-section {
    margin-top: 20px;
}

.comment-section textarea {
    width: 100%;
    margin-bottom: 10px;
}

.comment-section button {
    background-color: #4f943c;
    color: white;
    border: none;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.comments-list {
    margin-top: 30px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.comment-author {
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
}

.comment-date {
    font-size: 10px;
    color: #888;
}


@media (max-width: 600px) {
    .recipe-columns {
        flex-direction: column;
    }

    .recipe-title {
        font-size: 2em;
    }

    .recipe-description {
        font-size: 1em;
    }

    .recipe-time {
        font-size: 0.9em;
    }

    .ingredients-list li,
    .steps-list li {
        padding: 8px;
    }
}
